.navbar {
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 10px;
    border-radius: 50px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.brand {
    width: 250px;
    height: 60px;
}

.navLink {
    color: #fff;
    transition: 0.5s;
}

.navLink:hover {
    color: #aaa;
}

.stationSelect {
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    margin-left: 30px;
    color: #fff;
    transition: 0.5s;
}

.stationSelect:hover {
    background-color: rgba(100, 100, 100);
}