.input{
    width: 400px;
    border: 1px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 0.4s;
}

.button{
    width: 400px;
    background-color: #a33939;
    color: #fff;
    transition: 0.4s;
}

.button:hover{
    background-color: #233939;
    color: #fff;
}

.inputContainer{
    height: 400px;
    border-right: 1px solid rgba(255,255,255,0.3);
}